{% extends "order/layout.html" %}
{% block meta_specific %}
    <title>Login</title>
{% endblock %}
{% block content %}
<div class="container py-5">
    <h2 class="text-center pb-2"></h2>
    <div class="row">
        <div class="col-lg-6 col-12 pb-3 center">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="text-center mb-4">Login</h2>
                    <form class="py-2" role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="us_input" class="sr-only form-control-label">Username</label>
                            <div class="mx-auto col-sm-10">
                                <input name="username" type="text" class="form-control" id="us_input" placeholder="username" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pass_input" class="sr-only form-control-label">Password</label>
                            <div class="mx-auto col-sm-10">
                                <input name="password" type="password" class="form-control" id="pass_input" placeholder="password" required="">
                            </div>
                        </div>
                        {% if message %}
                        <div class="form-group">
                            <div class="mx-auto col-sm-10">
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                        {% endif %} 
                        <div class="form-group">
                            <div class="mx-auto col-sm-10 pb-3 pt-2">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}