{% extends "order/layout.html" %}
{% load static %}
{% block meta_specific %}
    <title>Order #{{order.id}}</title>
{% endblock %}
{% block content %}		
	<div class="container pt-4">
		<a href="/orders" role="button" class="btn btn-primary pb-2 pt-2">View all orders</a>

		<h2 class="text-center">Order by {{user.username}}, Ordered at: {{order.order_created_at}}</h2>
		<table class="table full-table table-hover table-light pb-4 pt-4">
		<thead class="thead-light">
			<tr>
				<th>#</th>
				<th>Food Items</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
		{% for food_line in food_lines %}			
			<tr data-line="{{food_line.food_line}}" data-price="{{food_line.price}}">
				<td><strong>{{forloop.counter}}</strong></td>
				<td>{{food_line.food_line}}</td>
				<td>${{food_line.price}}</td>
			</tr>
		{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td><strong>Total: ${{total}}</strong></td>
			</tr>
			{% if order.completed %}
				<tr>
					<td></td>
					<td></td>
					<td><strong>Status: Completed</strong></td>
				</tr>	
			{% endif %}		
		</tbody>
		</table>
	</div>	
{% endblock %}