{% extends "order/layout.html" %}
{% load static %}
{% block meta_specific %}
    <title>Profile</title>
{% endblock %}
{% block content %}		
	<div class="container pt-4">

		<h2 class="text-center">Profile - {{user.username}}</h2>
		<table class="table full-table table-hover table-light pb-4 pt-4">
			<tr>
				<td><strong>First Name</strong></td>
				<td>{{user.first_name}}</td>
			</tr>
			<tr>
				<td><strong>Last Name</strong></td>
				<td>{{user.last_name}}</td>
			</tr>
			<tr>
				<td><strong>Username</strong></td>
				<td>{{user.username}}</td>
			</tr>
			<tr>
				<td><strong>Email</strong></td>
				<td>{{user.email}}</td>
			</tr>												
		<tbody>

		</table>
	</div>	
{% endblock %}